
h1{
  font-weight: 600;
  font-size: 45px;
}
body{
  background-color: #faf6e6;
}
.page{
  /* width: 80vw;   */
  height: 200vh; 
  /* margin: auto;
  padding: 50px;
  padding-top: 35px; */
}
.header {
  text-align: center;
}
.highlight {font-size: 15px;
  color: #f28450;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
}
.banner {
  background-color: #fae7c0;
  width: 100vw;
  height: 60px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;  
  height: 100vh;
}
.vis-container{
  /* width: 700px;
  height: 700px; */
}
/* #vis1 > canvas {
  width: 600px;
  height: 600px;
}

#vis2 > canvas {
  width: 600px;
  height: 600px;
} */

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.description h2, h1{
  margin-top:0px;
}
/* .description-right {
  padding-left: 20px;
}
.description-left{
  padding-right: 20px;
} */
.pure-g{
  margin-bottom: 25px;
}
.small-font{
    font-size: 14px;
}
.word_size{
  font-size: 15px;
  font-weight: normal;
  color: #949292;
padding-bottom: 20px;
font-family:sans-serif;
overflow-x: hidden;}

.vis-container{
  height: 550px;
}
.vega-embed{
  display: block !important;
}
#vis5,#vis6{
  margin: 0 auto;
  text-align: center;
}
.banner{
  margin: 40px 0;
}
.box>div{
  width: 48%;
}
#vis1,#vis2,#vis3,#vis4{
  text-align: center;
}
.pp{
  width: 840px;
  margin: 0 auto 30px;
}

.banner_tittle{
  font-size: 35px;
  color: #0f0f0fc2;
padding-bottom: 20px;
text-align: center;
font-family: 'Source Sans Pro', sans-serif;

}

